<%= render 'shared/crumbs', menu: '系统管理' ,title: "角色信息" %>


<div class="cl-mcont">
  <div class="head">
    <h3>查询</h3><hr/>
    <%= search_form_for @q, :html => {:class => 'pjax-form'} do |f| %>
        <div class="form-group col-md-4">
          <%= f.label "名称：", class: "control-label col-md-3" %>
          <div class="col-md-9">
            <%= f.search_field :name_cont, class: 'form-control' %>
          </div>
        </div>
        <%= link_to '新增', :new_role, class: "btn btn-info"%>
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#search_model">查询</button>
    <% end %>
  </div>
</div>
<div class="cl-mcont">
  <div class="content">
    <div class="table-responsive">
      <table class="table no-border hover">
        <thead class="no-border">
        <tr>
          <th><strong>名称</strong></th>
          <th><strong>菜单</strong></th>
          <th style="width:15%;" class="text-center"><strong>操作</strong></th>
        </tr>
        </thead>
        <tbody class="no-border-y">
        <% @roles.each_with_index do |role, index| %>
          <tr>
            <td><%= role.name %></td>
            <td><%= role.menus.pluck(:name) %></td>
            <td class="text-center">
              <%= link_to  content_tag(:i, '', class: "fa fa-pencil"), edit_role_path(role), class: "label label-default" %>
              <a class="label label-danger" href="#"><i class="fa fa-times"></i></a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>